<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar routerLink=""><h2>L & B Movin</h2></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/projects">Projects</a>
      <a mat-list-item routerLink="/finances">Finances</a>
      <a mat-list-item routerLink="/documents">Documents</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
