.container {
  width: 400px;
  max-width: 100%;
  margin-top: -10;
  margin: 0 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
  align-items: right;
}

.todo-list {
  border: solid 1px #a7c6d2;
  min-height: 40vh;
  border-radius: 20px;
  background-color: rgb(155, 135, 245);
  display: block;
  overflow: hidden;
  color: black;
  font-size: 14px;
  font-style: bold;
}

.done-list {
  border: solid 1px #a7c6d2;
  min-height: 40vh;
  border-radius: 20px;
  background-color: rgb(155, 135, 245);
  display: block;
  overflow: hidden;
  color: black;
  font-size: 14px;
  font-style: bold;
}

.todo-list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #a7c6d2;
  box-sizing: border-box;
  cursor: move;
  background: rgb(117, 179, 207, 0.8);
  color: black;
  font-size: 14px;
}

.done-list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #a7c6d2;;
  box-sizing: border-box;
  cursor: move;
  background: rgb(117, 179, 207, 0.9);
  color: black;
  font-size: 14px;
}

.list-item:last-child {
  border: none;
}

/* Highlight the list item that is being dragged. */
.cdk-drag-preview {
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.add-container{
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100%;
  width: 25%;
}

.card-container{
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100%;
  width: 100%;
}

.input-field{
  height: 2rem;
  width: 100%;
  background-color: rgb(117, 179, 207, 0.5);
  border: 1px solid rgb(218, 212, 212);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 8rem;
  margin-right: 1rem;
  color: black;
  font-size: 14px;
  font-style: bold;
}

mat-icon{
  float: right;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}
