.grid-container {
  margin: .5rem;
  background: transparent;
  color: white;
}

.dashboard-card {
  position: absolute;
  color: rgb(70, 69, 69);
  background: rgb(96, 65, 233, 0.3);
  border-radius: 20px;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 3px 3px 10px rgb(92, 92, 92);
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
